*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background: #A7E6FF;

}
.logo{
    height: 35px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
     justify-content: space-between; 
 } 

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color:  #917553;
}
.detail {
    margin-left: 8%;
    margin-top: 12%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color:  #917553;
}
.detail p{
    color: #555;
    line-height: 22px;
}
.detail a{
    background: #212121;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 80%;
    position: absolute;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1sS;

}

#circle{
     
    position: absolute;
     top: 45%;
      left: 78%; 
      transform: translate(-50%, -50%); /*Center the circle */
      width: 360px; /* Adjust width as needed to make it slightly larger than the image */
      height: 360px; /* Adjust height as needed */
      background-color: #050C9C;
      border-radius: 50%;
      border: 8px solid #3ABEF9;
        
}
#circle1{
     
    position: absolute;
      top: 63%;
      left: 55%;
      bottom: 0;
      transform: translate(-50%, -50%); /* Center the circle */
      width: 320px; /* Adjust width as needed to make it slightly larger than the image */
      height: 320px; /* Adjust height as needed */
      background-color: #3ABEF9;
      border-radius: 50%;
      border: 8px solid #050C9C;      
        
}
#girl{
    top: 20%;
    left: 70%;
}
#girl:hover{
    left: 45%;
}